## Settings file was created by plugin CK-QOL

[NoDeathPenalty]

## Enable the 'No Death Penalty' (Server) feature? Removes the behaviour, that the inventory gets lost after death.
# Setting type: Boolean
# Default value: false
# Acceptable values: True, False
IsEnabled = false

